{% extends 'layout/layout.html' %}
{% load static %}
{% block content %}
<div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
      <div class="card">
        <img src="{% static 'image/tak5.jpeg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">펀(fun)한 영탁</h5>
          <p class="card-text">Fun Zerotak</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="{% static 'image/tak6.jpeg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">쿨한 영탁</h5>
          <p class="card-text">Cool Zerotak</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="{% static 'image/tak.jpeg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">섹시한 영탁</h5>
          <p class="card-text">Sexy Zerotak</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="{% static 'image/tak4.jpeg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">펀쿨섹좌 영탁이 미래다</h5>
          <p class="card-text">Future is Zerotak. Because he is fun, cool, and sexy guy who is the most charming person in the world. love you tak!</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}